EbankClient/src/main/java/org/example/proxy/EbankService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.example.org/" name="EbankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://web.example.org/" schemaLocation="http://localhost:4545/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertion">
<part name="parameters" element="tns:convertion"/>
</message>
<message name="convertionResponse">
<part name="parameters" element="tns:convertionResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<portType name="ebankService">
<operation name="convertion">
<input wsam:Action="http://web.example.org/ebankService/convertionRequest" message="tns:convertion"/>
<output wsam:Action="http://web.example.org/ebankService/convertionResponse" message="tns:convertionResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://web.example.org/ebankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://web.example.org/ebankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://web.example.org/ebankService/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://web.example.org/ebankService/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
</portType>
<binding name="ebankServicePortBinding" type="tns:ebankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EbankServiceService">
<port name="ebankServicePort" binding="tns:ebankServicePortBinding">
<soap:address location="http://localhost:4545/"/>
</port>
</service>
</definitions>